@using System.Data.Entity
@using OnlineFileSystem.Models
@{
    //ViewBag.Title = "11111";
    List<Folder> folderList = (List<Folder>)ViewBag.folderList;
    List<OnlineFileSystem.Models.File> fileList = (List<OnlineFileSystem.Models.File>)ViewBag.fileList;
    string userId = ViewBag.userId;

    Folder currentFolder = null;
    if (ViewBag.currentFolder != null)
    {
        currentFolder = ViewBag.currentFolder;
    }

}

<p>Use this area to provide additional information.</p>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="h3">
                @if (currentFolder != null)
                {
                    
                    @Html.ActionLink("Up", "OpenFolder", "Main", new { userId = userId, folderId = currentFolder.ParentFolder }, new { @class = "btn btn-default", @type = "button" })
                    @currentFolder.Name

                }
                else
                {
                    @Html.ActionLink("Up", "", "", null, new { @class = "btn btn-default disabled", @type = "button" })
                    @Html.Raw("Root")
                }
            </div>
        </div>

        <div class="col-sm-8">
            <div class="pull-right btn-group">
                <button class="btn btn-default" type="button">
                    Upload file
                </button>
                <button class="btn btn-default" type="button">
                    New folder
                </button>
                <button class="btn btn-default" type="button">
                    Rename folder
                </button>
                <button class="btn btn-default" type="button">
                    Delete folder
                </button>
            </div>
        </div>
    </div>



    <div class="row">

        <div class="col-md-12">

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        File Name
                    </th>
                    <th>
                        Date Created
                    </th>
                    <th>
                        Date Modified
                    </th>
                    <th>
                        Sharing
                    </th>
                    <th>
                        File Size
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in folderList)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/Images/FolderIcon.png")" class="smallRowImage"/>
                        </td>
                        <td>
                            @Html.ActionLink(item.Name, "OpenFolder", "Main", new {userId = userId, folderId = item.FolderId}, null)
                        </td>
                        <td>
                            @item.DateCreated
                        </td>
                        <td>
                            @item.DateModified
                        </td>
                        <td>
                            /
                        </td>
                        <td>
                            /
                        </td>
                    </tr>
                }
                @foreach (var item in fileList)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/Images/FileIcon.png")" class="smallRowImage"/>
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.DateCreated
                        </td>
                        <td>
                            @item.DateModified
                        </td>
                        <td>
                            @item.Sharing
                        </td>
                        <td>
                            @item.Size
                        </td>
                    </tr>
                }


                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>